DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
OPEN_DOTA_URL=https://api.opendota.com/api/
OPEN_DOTA_URL2=https://raw.githubusercontent.com/odota/dotaconstants/refs/heads/master/build/
STEAM_NEWS_DOTA=https://api.steampowered.com/ISteamNews/GetNewsForApp/v0002/?appid=570
