[Unit]
Description=Dota2  bot for discord
After=network.target

[Service]
ExecStart=/usr/bin/node /apps/dota2-discord-bot/main.js
WorkingDirectory=/apps/dota2-discord-bot

[Install]
WantedBy=multi-user.target
